.container {
  background-color: var(--very-dark-blue);
  background-image: url('/images/bg-stars.svg' ), url('/images/pattern-hills.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  /* min-height: 100vh;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}


.logo:hover{
  fill: var(--soft-red);
}

/*  Components */

.subTitle {
  margin: 0;
  color: var(--white);
  /* line-height: 1.15; */
  letter-spacing: 5px;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  margin: 14rem 0 8rem 0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 3rem;
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
